html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:linear-gradient(135deg,rgb(207, 215, 247),rgb(228, 60, 60),rgb(17, 29, 202));
}
body{
    max-width: 1200px;
    margin:30px auto;
    padding:30px ;
    background: white;
    border-radius: 20px;
    border:none;
    box-shadow: 0 15px 40px rgb(22, 241, 241);
    animation: aparecer 1s ease-in-out;
}
h1{
    font-size: 60px;
    text-align: center;
    color:rgb(255, 76, 30);
    text-shadow: 3px 3px 10px rgb(172, 157, 144);
    transition: 0.3s ease;

}
h2{
    font-size: 30px;
    color:rgb(255, 76, 30);
    border-left: 6px solid rgb(288, 77, 38);
    padding-left: 10px;
    transition:0.3 ease;
}
p,li{
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    color: #444
}
img{
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgb(23, 41, 90);
    transition: 0.4s ease;
    animation: moverDerecha 3s ease-in-out ;
    animation-fill-mode: backwards;
}
iframe{
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgb(23, 41, 90);
}
a{
    color: rgba(61, 197, 197, 0.959);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
h1:hover{
    transform: scale(1.05);
}
h2:hover{
    transform: scale(1.05);
    border-left: 6px solid rgb(240, 167, 167);
}
img:hover{
    transform: scale(1.03) rotate(1deg);
    animation-play-state: paused;
}
a:hover{
    color: rgba(154, 221, 221, 0.959);
    text-decoration: underline;
}
@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transition: translateY(0);
    }
}
@keyframes moverDerecha{
    from{
        transform: translateY(30px);
    }
    
    to{ transform: translateY(0px); 
    }
}